<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="consumerKey" value="RXoOKEcgw9Ah3a3e29Gt8aBXb"/>
		<add key="consumerSecret" value="SzQmUp7yNh8o7e4DR4M40D2RUiv2VrzzE16IZl6ugAkqWfZSGm"/>
		<add key="oauthToken" value=""/>
		<add key="oauthTokenSecret" value=""/>
		<add key="accessToken" value="774525347173765120-hahwpMI3mmMhy1OEXAVllIIfuxhXDt2"/>
		<add key="accessTokenSecret" value="pvBNaKuvMJVeRHMjksqdNZZvWSti5r3DYSy4kPD8sVvAJ"/>
	</appSettings>
	
	<startup>
            
	</startup>
</configuration>